:root {
  --background: #ffffff;
  --foreground: #171717;
  --input: 210 40% 90%;
  --primary: 209 85% 51%;
  --ring: 209 85% 51%;
  --border: 210 40% 80%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --input: 217 19% 27%;
    --primary: 209 85% 51%;
    --ring: 209 85% 51%;
    --border: 217 19% 35%;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
